*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body{
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
        height: 100vh;
    }
    h1{
        font-size: 35px;
        color: black;
        margin: 20px;
    }

    .navbar{
        text-align: end;
        padding: 20px;
        justify-items: center;
        margin: 30px;
        
        
    }

    img{
        width: 100%;
        height: 500px;
    }

    p{
        font-size: 30px;
        text-align: center;
        padding: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    a{
        text-decoration: none;
        color: black;
        cursor: pointer;
        margin-right: 40px;
        text-align: end;
        border-right: solid gray;
        font-size: 20px;
    }

    a:hover {
        color: grey;
        text-decoration: underline;
    }

    .ia-card{
  display: flex;
  text-align: center;
  align-items: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
  margin: 30px;
    }

    .ia-card img{
        width: 100%;
    }

    .cienciadatos-card{
        display: flex;
        text-align: center;
        align-items: center;
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
        margin: 30px;
    }

    .cienciadatos-card img{
        width: 100%;
    }

    .software-card{
        display: flex;
        text-align: center;
        align-items: center;
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
        margin: 30px;
    }
    .software-card img{
        width: 100%;
    }

    .mision-card{
        text-align: center;
        width: 50%;
        align-items: center;
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
        margin: 30px;
    }

   .mision-card img{
    width: 50%;
   }

   .vision-card{
    text-align: center;
    width: 50%;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
    margin: 30px;
   }